

h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold !important;
    font-size: 230% !important;
    margin-top: 15px !important;
}


#result{
    margin-top: 10px;
}
#resultDiv{
    display: none;
}
